
*.avi
*.mp4
*.jpg
*.JPEG
*.png

!*.py
!*.sh
*.txt
*.json
*.diff

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
detectron2.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

#other files
*.tag
*.value
*.node3
*.node*
*.zip

# project dirs
output/
tensorboardx_log/
/detectron2/model_zoo/configs
#datasets/
instant_test_output
inference_test_output
#datasets/data/
/datasets
/projects/*/datasets/data
/models
tem/